.create-container {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/christina-wocintechchat-com-faEfWCdOKIg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    width: 100%;
    /* max-width: 450px; */
    height: 776px;
    background-color: rgba(0, 0, 0, 0.538);
    padding: 30px;
}
